[{:itonami.blueprint/social-impact [:scientific-discovery :research-integrity :open-science], :itonami.blueprint/domain :research/physics-astronomy, :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger], :itonami.blueprint/isco-08 "2111", :itonami.blueprint/name "Research Support: Physics & Astronomy", :itonami.blueprint/governor :physics-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-2111", :itonami.blueprint/license "AGPL-3.0-or-later"}]
